<template>
    <ul class="pagination">
        <li v-if="pagination.current_page !== 1">
            <a href="#" aria-label="Previous" v-on:click.prevent="changePage(1)">
                <span aria-hidden="true">First</span>
            </a>
        </li>
        <li v-if="pagination.current_page > 1">
            <a href="#" aria-label="Previous" v-on:click.prevent="changePage(pagination.current_page - 1)">
                <span aria-hidden="true">«</span>
            </a>
        </li>
        <li v-for="page in pagesNumber" :class="{'active': page == pagination.current_page}">
            <a href="#" v-on:click.prevent="changePage(page)">{{ page }}</a>
        </li>
        <li v-if="pagination.current_page < pagination.last_page">
            <a href="#" aria-label="Next" v-on:click.prevent="changePage(pagination.current_page + 1)">
                <span aria-hidden="true">»</span>
            </a>
        </li>
        <li v-if="pagination.last_page != pagination.current_page && pagination.last_page != 0">
            <a href="#" aria-label="Next" v-on:click.prevent="changePage(pagination.last_page)">
                <span aria-hidden="true">Last</span>
            </a>
        </li>
    </ul>
</template>
<script>
    export default{
        props: ['pagination'],
        computed: {
            pagesNumber() {
                if (!this.pagination.to) {
                    return []
                }
                let from = this.pagination.current_page - 2;
                if (from < 1) {
                    from = 1
                }
                let to = this.pagination.current_page + 2;
                console.log('pages array from to', this.pagination.current_page, from, to);
                if (to >= this.pagination.last_page) {
                    to = this.pagination.last_page
                }
                let pagesArray = []

                for (let page = from; page <= to; page++) {
                    pagesArray.push(page)
                }
                console.log('pages array', pagesArray);
                return pagesArray;
            }
        },
        methods : {
            changePage(page) {
                this.pagination.current_page = page
            }
        }
    }
</script>