<template>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <router-link :to="`/dashboard`" class="btn btn-primary">
                    Back
                </router-link>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Add Post</div>
                <div class="panel-body">
                    <form class="form" @submit.prevent="addPost">
                        <div class="form-group" :class="{ 'has-error' : error.title }">
                            <label class="control-label" for="title">Title</label>
                            <input type="text" class="form-control" v-model="form.title" id="title">
                            <form-error v-if="error.title">
                                {{ error.title[0] }}
                            </form-error>
                        </div>
                        <div class="form-group" :class="{ 'has-error' : error.content  }">
                            <label class="control-label" for="content">Content</label>
                            <div class="row">
                                <div class="col-xs-6">
                                    <textarea class="form-control result-html textarea-html" v-model="form.content" id="content"></textarea>
                                </div>
                                <div class="col-xs-6">
                                    <vue-markdown
                                            class="result-html"
                                            :watches="['show','html','breaks','linkify','emoji','typographer','toc']"
                                            :source="form.content"
                                            :show="markdown.show"
                                            :html="markdown.html"
                                            :breaks="markdown.breaks"
                                            :linkify="markdown.linkify"
                                            :emoji="markdown.emoji"
                                            :typographer="markdown.typographer"
                                            :toc="markdown.toc">
                                    </vue-markdown>
                                </div>
                            </div>
                            <form-error v-if="error.content">
                                {{ error.content[0] }}
                            </form-error>
                        </div>
                        <div class="form-group form-check" :class="{ 'has-error' : error.published  }">
                            <input type="checkbox" class="form-check-input" v-model="form.published" id="published">
                            <label class="control-label" for="published">Publish post?</label>
                            <form-error v-if="error.published">
                                {{ error.published[0] }}
                            </form-error>
                        </div>
                        <div class="form-group">
                            <button :disabled="isProcessing" class="btn btn-primary">Add Post</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="form-group">
                <router-link :to="`/dashboard`" class="btn btn-primary">
                    Back
                </router-link>
            </div>
        </div>
    </div>
</template>

<script type="text/javascript">
    import Flash from '../../../helpers/flash'
    import { post } from '../../../helpers/api'

    export default {
        data() {
            return {
                form : {},
                error : {},
                markdown : {
                    show: true,
                    html: false,
                    breaks: true,
                    linkify: false,
                    emoji: true,
                    typographer: true,
                    toc: false
                },
                isProcessing: false
            }
        },
        methods : {
            addPost() {
                this.isProcessing = true;
                this.error = {}
                post('/api/v1/posts/me', this.form)
                    .then((response) => {
                        if (response.data.result) {
                            Flash.setType('success')
                            Flash.setMessage(response.data.message)
                            this.$router.push('/dashboard')
                        }
                    })
                    .catch((err) => {
                        console.log('Add post response',err);
                        if (err.response.status === 422) {
                            this.error = err.response.data
                        }
                        if (err.response.status === 401) {
                            let response = err.response
                            Flash.setType('danger')
                            Flash.setMessage(response.data.message)
                        }
                        this.isProcessing = false;
                    })
            }
        }
    }
</script>