<template>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Update Post</div>
                <div class="panel-body">
                    <form class="form" @submit.prevent="updatePost">
                        <div class="form-group" :class="{ 'has-error' : error.title }">
                            <label class="control-label" for="title">Title</label>
                            <input type="text" class="form-control" v-model="post.title" id="title">
                            <form-error v-if="error.title">
                                {{ error.title[0] }}
                            </form-error>
                        </div>
                        <div class="form-group" :class="{ 'has-error' : error.content  }">
                            <label class="control-label" for="content">Content</label>
                            <div class="row">
                                <div class="col-xs-6">
                                    <textarea class="form-control result-html textarea-html" v-model="post.content" id="content"></textarea>
                                </div>
                                <div class="col-xs-6">
                                    <vue-markdown
                                            class="result-html"
                                            :watches="['show','html','breaks','linkify','emoji','typographer','toc']"
                                            :source="post.content"
                                            :show="markdown.show"
                                            :html="markdown.html"
                                            :breaks="markdown.breaks"
                                            :linkify="markdown.linkify"
                                            :emoji="markdown.emoji"
                                            :typographer="markdown.typographer"
                                            :toc="markdown.toc">
                                    </vue-markdown>
                                </div>
                            </div>
                            <form-error v-if="error.content">
                                {{ error.content[0] }}
                            </form-error>
                        </div>
                        <div class="form-group form-check" :class="{ 'has-error' : error.published  }">
                            <input type="checkbox" class="form-check-input" v-model="isPublished" id="published" value="1">
                            <label class="control-label" for="published">Publish post?</label>
                            <form-error v-if="error.published">
                                {{ error.published[0] }}
                            </form-error>
                        </div>
                        <div class="form-group">
                            <button :disabled="isProcessing" class="btn btn-primary">Update Post</button>
                            <button class="btn btn-danger" @click="removePost" :disabled="isRemoving">Delete</button>
                            <router-link :to="`/dashboard`" class="btn btn-primary">
                                Back
                            </router-link>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/javascript">
    import Flash from '../../../helpers/flash'
    import { put, get, del } from '../../../helpers/api'

    export default {
        data() {
            return {
                post : {},
                error : {},
                markdown : {
                    show: true,
                    html: false,
                    breaks: true,
                    linkify: false,
                    emoji: true,
                    typographer: true,
                    toc: false
                },
                isProcessing: false,
                isRemoving: false
            }
        },
        created() {
            this.getPost()
        },
        computed : {
            isPublished : {
                get: function () {
                    return !!this.post.published_at
                },
                set: function (newValue) {
                    this.post.published_at = newValue ? 1 : 0
                }
            }
        },
        methods : {
            updatePost() {
                this.isProcessing = true;
                this.error = {}
                put(`/api/v1/posts/me/${this.$route.params.id}`, this.post)
                    .then((response) => {
                        if (response.data.result) {
                            Flash.setType('success')
                            Flash.setMessage(response.data.message)
                            this.$router.push('/dashboard')
                        }
                        this.isProcessing = false;
                    })
                    .catch((err) => {
                        if (err.response.status === 422) {
                            this.error = err.response.data
                        }
                        if (err.response.status === 401) {
                            let response = err.response
                            Flash.setType('danger')
                            Flash.setMessage(response.data.message)
                        }
                        this.isProcessing = false;
                    })
            },
            getPost() {
                get(`/api/v1/posts/me/${this.$route.params.id}/edit`)
                .then((response) => {
                    console.log('get post response', response)
                    this.post = response.data.data.post
                })
            },
            removePost() {
                this.isRemoving = true
                del(`/api/v1/posts/me/${this.$route.params.id}`, {})
                    .then((response) => {
                        Flash.setType('danger')
                        Flash.setMessage(response.data.message)
                        this.$router.push('/dashboard')
                    })
            }
        }
    }
</script>