<template>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="post-list" v-if="post">
                <div class="form-group">
                    <router-link :to="`/dashboard`" class="btn btn-primary">
                        Back
                    </router-link>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        {{ post.title }}
                    </div>
                    <div class="panel-body">
                        <div class="panel-content" v-html="post.html_all_content">
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="date">
                            Date published: {{ post.published_at }}
                        </div>
                        <div class="panel-actions">
                            <router-link :to="`/post/me/${post.id}/edit`" class="btn btn-primary">
                                Edit
                            </router-link>
                            <button class="btn btn-danger" @click="removePost" :disabled="isRemoving">Delete</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <router-link :to="`/dashboard`" class="btn btn-primary">
                        Back
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/javascript">
    import { get, del } from '../../../helpers/api'
    import Flash from '../../../helpers/flash'

    export default {
        data() {
            return {
                post : {},
                isRemoving : false
            }
        },
        created() {
            this.getPost()
        },
        methods : {
            getPost() {
                get(`/api/v1/posts/me/${this.$route.params.id}/edit`)
                    .then((response) => {
                        this.post = response.data.data.post
                    })
            },
            removePost() {
                this.isRemoving = true
                del(`/api/v1/posts/me/${this.$route.params.id}`, {})
                    .then((response) => {
                        Flash.setType('danger')
                        Flash.setMessage(response.data.message)
                        this.isRemoving = false
                        this.$router.push('/dashboard')
                    })
            }
        }
    }
</script>