
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

//Refactor later

.post-list {
  .post-item {
    a {
      text-decoration: none;
      &:hover, &:active {

      }
    }
  }
}

.result-html {
  padding: 2px 10px;
  overflow: auto;
  background-color: #fff;
  border: 1px solid#ccc;
  border-radius: 4px;
  height: 500px !important;
}
.textarea-html {
  resize: vertical;
}