<template>
    <div class="root">
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <router-link to="/" class="navbar-brand">Blog</router-link>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li v-if="!authenticated">
                            <router-link to="/login">Login</router-link>
                        </li>
                        <li v-if="!authenticated">
                            <router-link to="/register">Register</router-link>
                        </li>
                        <li v-if="!authenticated">
                            <a href="#" :disabled="isProcessing" @click.prevent="registerWithGoogle">Register with Google</a>
                        </li>
                        <li v-if="authenticated">
                            <router-link to="/dashboard">Dashboard</router-link>
                        </li>
                        <li v-if="authenticated">
                            <a @click.stop="logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="alert" v-if="flash.message" :class="'alert-'+flash.type">
                {{ flash.message }}
            </div>

            <router-view>
            </router-view>
        </div>
    </div>
</template>

<script type="text/javascript">
    import Flash from './helpers/flash'
    import Auth from './store/auth'
    import { post } from './helpers/api'

    import Vue from 'vue'
    import GoogleAuth from 'vue-google-auth'
    Vue.use(GoogleAuth, { client_id: '215797903050-55suij38pme25od9eqobmt065hd6k183.apps.googleusercontent.com' })
    Vue.googleAuth().load();

    export default {
        created() {
          Auth.initialize()
        },
        data() {
            return {
                flash : Flash.state,
                auth : Auth.state,
                isProcessing : false
            }
        },
        computed : {
            authenticated() {
                return !!this.auth.token
            }
        },
        methods : {
            registerWithGoogle () {
                this.isProcessing = true;
                console.log('register with google')
                Vue.googleAuth().directAccess()
                Vue.googleAuth().signIn(this.onSignInSuccess, this.onSignInError)
            },
            onSignInSuccess (googleUser) {
                console.log('Google User', googleUser);
                post('/api/v1/user/register', {
                    access_token : googleUser.getAuthResponse().access_token
                })
                .then((response) => {
                    if (response.data.result) {
                        console.log('success login')
                        Flash.setType('success')
                        Flash.setMessage(response.data.message)
                        Auth.set(response.data.data.token)
                        this.$router.push('/')
                    } else {
                        Flash.setType('success')
                        Flash.setMessage(response.data.message)
                    }
                })
                .catch((err) => {
                    if (err.response.status === 422) {
                        let response = err.response
                        Flash.setType('danger')
                        Flash.setMessage(response.data.message)
                    }
                    if (err.response.status === 401) {
                        let response = err.response
                        Flash.setType('danger')
                        Flash.setMessage(response.data.message)
                    }
                    this.isProcessing = false;
                })
            },
            onSignInError (error) {
                console.log('Google signin error', error)
                Flash.setType('danger')
                Flash.setMessage(error.error)
                this.isProcessing = false;
            },
            logout() {
                post('/api/v1/user/logout')
                    .then((response) => {
                        if (response.data.result) {
                            Auth.remove()
                            Flash.setType('success')
                            Flash.setMessage(response.data.message)
                            this.$router.push('/login')
                        }
                    })
                    .catch((response) => {

                    })
            }
        }
    }
</script>