<template>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>My Blog Posts</h1>
            <div class="form-group">
                <router-link :to="'/post/me/add'" class="btn btn-primary">
                    Add Post
                </router-link>
            </div>
            <div class="alert alert-warning" v-if="isProcessing">
                Getting posts! :)
            </div>
            <div class="post-list" v-else-if="posts.length">
                <div class="post-item" v-for="(post, index) in posts">
                    <div class="post-inner">
                        <div class="panel panel-primary">
                            <div class="panel-heading">{{ post.title }}</div>
                            <div class="panel-body">
                                <div class="panel-content" v-html="post.html_content">
                                </div>
                                <div class="post-author">
                                    Author: {{ post.user.first_name + ' ' + post.user.last_name }}
                                </div>
                            </div>
                            <div class="panel-footer">
                                <span class="date">
                                    Date published: {{ post.date_published_humans }}
                                    Status: {{ post.published_at ? 'Published' : 'Draft' }}
                                </span>
                                <div class="form-group pull-right">
                                    <router-link class="btn btn-primary" :to="`/post/me/${post.id}`">
                                        Show
                                    </router-link>
                                    <router-link class="btn btn-primary" :to="`/post/me/${post.id}/edit`">
                                        Edit
                                    </router-link>
                                    <button class="btn btn-primary" @click="publishPost(post, index)" :disabled="isPublishing">{{ !post.published_at ? 'Publish' : 'Unpublish' }}</button>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="alert alert-info" v-else>
                No posts were found sorry :(
            </div>
            <div class="pagination-box">
                <pagination  v-bind:pagination="pagination"
                             v-on:click.native="getPosts(pagination.current_page)"
                             v-bind:offset="offset">
                </pagination>
            </div>
        </div>
    </div>
</template>

<script type="text/javascript">
    import { get, post } from '../../helpers/api'
    import Flash from '../../helpers/flash'

    export default {
        data() {
            return {
                posts : [],
                isProcessing : false,
                isPublishing : false,
                pagination: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1,
                    last_page: 0,
                },
                offset: 4
            }
        },
        created() {
            this.getPosts()
        },
        methods : {
            getPosts(page) {
                page = typeof page !== 'undefined' ? page : 1
                this.isProcessing = true
                get('/api/v1/posts/me?page=' + page)
                    .then((response) => {
                        this.posts = response.data.data.posts.data
                        this.pagination = response.data.data.posts
                        this.isProcessing = false
                    })
            },
            publishPost(postData, index) {
                this.isPublishing = true
                post('/api/v1/posts/me/' + postData.id + '/publish', {})
                .then((response) => {
                    Flash.setType('success')
                    Flash.setMessage(response.data.message)
                    console.log('publish data', this.posts, index, response.data.data.post, response)
                    this.$set(this.posts, index, response.data.data.post)
                    this.isPublishing = false
                })
            }
        }
    }
</script>