<template>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Login</div>
                <div class="panel-body">
                    <form class="form" @submit.prevent="login">
                        <div class="form-group" :class="{ 'has-error' : error.email }">
                            <label class="control-label" for="email">Email</label>
                            <input type="text" class="form-control" v-model="form.email" id="email">
                            <form-error v-if="error.email">
                                {{ error.email[0] }}
                            </form-error>
                        </div>
                        <div class="form-group" :class="{ 'has-error' : error.password }">
                            <label class="control-label" for="password">Password</label>
                            <input type="password" class="form-control" v-model="form.password" id="password">
                            <form-error v-if="error.password">
                                {{ error.password[0] }}
                            </form-error>
                        </div>
                        <div class="form-group">
                            <button :disabled="isProcessing" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                    <div class="form-group">
                        <button :disabled="isProcessing" class="btn btn-danger" @click="loginWithGoogle">Login with Google</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/javascript">
    import { post } from '../../helpers/api'
    import Flash from '../../helpers/flash'
    import Auth from '../../store/auth'

    import GoogleAuth from 'vue-google-auth'

    import Vue from 'vue'
    Vue.use(GoogleAuth, { client_id: '215797903050-55suij38pme25od9eqobmt065hd6k183.apps.googleusercontent.com' })
    Vue.googleAuth().load();

    export default {
        data() {
            return {
                form : {
                    email : '',
                    password : '',
                },
                error : {

                },
                isProcessing: false
            }
        },
        methods : {
            loginWithGoogle () {
                this.isProcessing = true;
                this.error = {}
                Vue.googleAuth().directAccess()
                Vue.googleAuth().signIn(this.onSignInSuccess, this.onSignInError)
            },
            onSignInSuccess (googleUser) {
                console.log('Google User', googleUser);
                post('/api/v1/user/login', {
                    access_token : googleUser.getAuthResponse().access_token
                })
                .then((response) => {
                    if (response.data.result) {
                        console.log('success login')
                        Flash.setType('success')
                        Flash.setMessage(response.data.message)
                        Auth.set(response.data.data.token)
                        this.$router.push('/')
                    } else {
                        Flash.setType('success')
                        Flash.setMessage(response.data.message)
                    }
                })
                .catch((err) => {
                    if (err.response.status === 422) {
                        this.error = err.response.data
                    }
                    if (err.response.status === 401) {
                        let response = err.response
                        Flash.setType('danger')
                        Flash.setMessage(response.data.message)
                    }
                    this.isProcessing = false;
                })
            },
            onSignInError (error) {
                Flash.setType('danger')
                Flash.setMessage(error.error)
                this.isProcessing = false;
            },
            login () {
                this.isProcessing = true;
                this.error = {}
                post('/api/v1/user/login', this.form)
                    .then((response) => {
                        if (response.data.result) {
                            console.log('success login')
                            Flash.setType('success')
                            Flash.setMessage(response.data.message)
                            Auth.set(response.data.data.token)
                            this.$router.push('/')
                        } else {
                            Flash.setType('success')
                            Flash.setMessage(response.data.message)
                        }
                    })
                    .catch((err) => {
                        if (err.response.status === 422) {
                            this.error = err.response.data
                        }
                        if (err.response.status === 401) {
                            let response = err.response
                            Flash.setType('danger')
                            Flash.setMessage(response.data.message)
                        }
                        this.isProcessing = false;
                    })
            }
        }
    }
</script>