<template>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Register</div>
                <div class="panel-body">
                    <form class="form" @submit.prevent="register">
                        <div class="form-group" :class="{ 'has-error' : error.first_name }">
                            <label class="control-label" for="first_name">First Name</label>
                            <input type="text" class="form-control" v-model="form.first_name" id="first_name">
                            <form-error v-if="error.first_name">
                                {{ error.first_name[0] }}
                            </form-error>
                        </div>
                        <div class="form-group" :class="{ 'has-error' : error.last_name  }">
                            <label class="control-label" for="last_name">Last Name</label>
                            <input type="text" class="form-control" v-model="form.last_name" id="last_name">
                            <form-error v-if="error.last_name">
                                {{ error.last_name[0] }}
                            </form-error>
                        </div>
                        <div class="form-group" :class="{ 'has-error' : error.email }">
                            <label class="control-label" for="email">Email</label>
                            <input type="text" class="form-control" v-model="form.email" id="email">
                            <form-error v-if="error.email">
                                {{ error.email[0] }}
                            </form-error>
                        </div>
                        <div class="form-group" :class="{ 'has-error' : error.password }">
                            <label class="control-label" for="password">Password</label>
                            <input type="password" class="form-control" v-model="form.password" id="password">
                            <form-error v-if="error.password">
                                {{ error.password[0] }}
                            </form-error>
                        </div>
                        <div class="form-group" :class="{ 'has-error' : error.password_confirmation }">
                            <label class="control-label" for="password_confirmation">Password Confirmation</label>
                            <input type="password" class="form-control" v-model="form.password_confirmation" id="password_confirmation">
                            <form-error v-if="error.password_confirmation">
                                {{ error.password_confirmation[0] }}
                            </form-error>
                        </div>
                        <div class="form-group">
                            <button :disabled="isProcessing" class="btn btn-primary">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script type="text/javascript">
    import { post } from '../../helpers/api'
    import Flash from '../../helpers/flash'

    export default {
        data() {
            return {
                form : {
                    first_name : '',
                    last_name : '',
                    email : '',
                    password : '',
                    password_confirmation : ''
                },
                error : {

                },
                isProcessing: false
            }
        },
        methods : {
            register () {
                this.isProcessing = true;
                this.error = {}
                post('/api/v1/user/register', this.form)
                    .then((response) => {
                        if (response.data.result) {
                            console.log('success register')
                            Flash.setType('success')
                            Flash.setMessage(response.data.message)
                            this.$router.push('/login')
                        }
                    })
                    .catch((err) => {
                        if (err.response.status === 422) {
                            this.error = err.response.data
                        }
                        this.isProcessing = false;
                    })

            }
        }
    }
</script>