<template>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Home</h1>
            <div class="alert alert-warning" v-if="isProcessing">
                Getting posts! :)
            </div>
            <div class="post-list" v-if="posts.length">
                <div class="post-item" v-for="post in posts">
                    <div class="post-inner">
                        <div class="panel panel-primary">
                            <div class="panel-heading">{{ post.title }}</div>
                            <div class="panel-body">
                                <div class="panel-content" v-html="post.html_content">
                                </div>
                                <div class="post-author">
                                    Author: {{ post.user.first_name + ' ' + post.user.last_name }}
                                </div>
                            </div>
                            <div class="panel-footer">
                                <span class="date">
                                    Date published: {{ post.date_published_humans }}
                                </span>
                                <router-link class="btn btn-primary" :to="`/post/${post.id}`">
                                    Read more
                                </router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="alert alert-info" v-else>
                No posts were found sorry :(
            </div>
            <div class="pagination-box">
                <pagination  v-bind:pagination="pagination"
                             v-on:click.native="getPosts(pagination.current_page)"
                             v-bind:offset="offset">
                </pagination>
            </div>
        </div>
    </div>
</template>

<script type="text/javascript">
    import { get } from '../../helpers/api'

    export default {
        data() {
            return {
                posts : [],
                pagination: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1,
                    last_page: 0,
                },
                offset: 4,
                isProcessing : false,
            }
        },
        created() {
            this.getPosts()
        },
        methods : {
            getPosts(page) {
                page = typeof page !== 'undefined' ? page : 1
                this.isProcessing = true
                get('/api/v1/posts/all?page=' + page)
                    .then((response) => {
                        console.log('all posts', response.data.data.posts);
                        this.posts = response.data.data.posts.data
                        this.pagination = response.data.data.posts
                        this.isProcessing = false
                    })
            }
        }
    }
</script>