<template>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <router-link :to="`/`" class="btn btn-primary">
                    Back
                </router-link>
            </div>
            <div class="post-item" v-if="post">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        {{ post.title }}
                    </div>
                    <div class="panel-body">
                        <div class="panel-content" v-html="post.html_all_content">
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="date">
                            Date published: {{ post.published_at }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <router-link :to="`/`" class="btn btn-primary">
                    Back
                </router-link>
            </div>
        </div>
    </div>
</template>
<script type="text/javascript">
    import { get } from '../../helpers/api'

    export default {
        data() {
            return {
                post : {}
            }
        },
        created() {
            this.getPost()
        },
        methods : {
            getPost() {
                get(`/api/v1/posts/${this.$route.params.id}`)
                    .then((response) => {
                        this.post = response.data.data.post
                    })
            }
        }
    }
</script>